body {
   	font-family: Arial, Georgia, "sans-serif";
   	color: #8ED4E6;
   	background-color: #4051B5;
   	background-image: url(cse326bg.png);
   	background-repeat: no-repeat;
   	background-position: right top;
   	background-attachment: fixed;

}

h2 {
	font-size: 1.8em;
}

dt {
	font-weight: bold;
	font-size: 75%;
}

p:first-letter {
	font-weight: bold;
	font-size: 150%;
}

ins {
	color: #10FF10;
	text-decoration: none;
}

ins:hover {
	font-weight: bold;
}

del {
	color: #FF3636;
}

h1, h2 {
	color: #91D8C2;
}

dl {
	color: #FDFD1B;
}

h1 {
	text-align: center;
}

strong {
	text-shadow: -2px 2px #ACACAC;
}

table td, th {
	border: solid;
}

table {
	border-collapse: collapse;
}

tr:last-child {
	background-color: white;
}

caption {
	text-align: right;
}

ol {
	list-style-type: lower-greek;
}

img {
	width: 300px;
	height: 300px;
}

a img {
	width: auto;
	height: auto;
}