body {
	margin-left: 15%;
	margin-right: 15%;
	background: url(http://selab.hanyang.ac.kr/courses/cse326/2015/problems/images/3/blueTextureBG.jpg);
}

#container {
	border: 10px dashed white;
	background-color: white
}

header {
	background-color: #8E8E8E;
	color: white;
	padding: 5px;
}

h1 {
	border: none;
	text-align: center;
}

span {
	border: none;
	font-weight: bold;
}

h2 {
	border-bottom: 3px dotted white;
	text-align: center;
}

article {
	overflow: auto;
}

section {
	border: 4px solid #1D2475;
	background-color: #6277C3;
	border-radius: 15px;
	color: #FFFFFF;
	padding: 5px;
	margin-top: 10px;
	overflow: auto;
}

aside {
	float: right;
	width: 150px;
	background-color: #3366CC;
	border: 4px solid #1D2475;
	border-radius: 15px;
	padding: 5px;
	margin-top: 10px;
	margin-left: 10px;
}

.favorite_section {
	border: none;
	width: auto;
	height: auto;
	background-color: white;
	color: black;
	text-align: center;
	margin: 5px;
	float: left;
}

body * * *:hover:not(section) {
	background-color: #ffff00;
}